/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

#main {
	//min-width: 100%;
}

#telm {
	display: none;
}

#container {
	max-width: 980px;
	margin: 0 auto;
}

.sidebar {
	margin: 65px 0 0 0;
}

.wrap {
	max-width: none;
}

.inner-content {
	padding: 0 20px;
}

#inner-header {

	overflow: hidden;

	.threecol, .ninecol {
		//display: inline-block;
		//max-width: none;
	}
}

/*********************
HEADER SYTLES
*********************/

.header {

	#col-slogan {
		display: block;
		margin-left: 0;
		padding-left: 15px;
	}
	.col-address {
		//min-width: 125px;
	}

	.address {

		display: block;
		font-size: 11px;
		line-height: 15px;
		margin-left: 10px;
		margin: 0;
		width: 100%;

		.red {
			color: $probyt-red;
		}
	}
	#address-nr {
		display: inline-block;
	}
	.site-slogan {
		display: table-cell;
		font-size: 22px;
		height: 76px;
		line-height: 1.1em;
		vertical-align: bottom;
	}

}

.bg-image {
	display: block;
}

.header-image {
	margin: 0 0 10px 0;
}

.module_content {

}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	position: relative;
	> li {
		margin: 0;
		display: inline-block;
		float: left;

		a {
			font-size: 12px;
			padding: 5px 9px;
		}
	}

	.sub-menu {

		height: 40px;
		background: #e3e3e3;
		margin: 0;
		@include css-gradient(#fff, #f1f1f1);

		> li {
			float: left;
			display: inline-block;
		}
		position: absolute;
		left: 0;
		width: 100%;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {

	min-height: 200px;

	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft {
		padding-top: 5px;
		margin-right: 1.5em;
		margin-bottom: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		padding-top: 5px;
		margin-left: 1.5em;
		margin-bottom: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		padding-top: 5px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

}

.sidebar {
	.widget_recent_entries {
		li {
			margin: 0 0 5px 20px;
		}
	}
}

.post_image {
	float: left;
	width: 45px;
	margin: 0 15px 0 0;
}

/*********************
FOOTER STYLES
*********************/

/*
check your menus here. do they look good?
do they need tweaking?
*/

.footer {
	//width: 960px;
}

.enventa-module-list {
	margin-left: -10px;

	li {
		min-height: 145px;
		margin: 0 0 10px 10px;
	}

}

.mod_hightlights {
	li {
		float: left;
		width: 40%;
		word-wrap: break-word;
	}
}

.sidebar-enventa {
	margin-top: 64px;
}

.wpcf7-textarea, .wpcf7-text {

}
