/******************************************************************
Site Name: Probyt
Author: Marc Illien

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylesheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html, body {
	height: 100%;
}

blockquote {
	border-left: 12px solid #D3D3D3;
	margin: 1em 12px;
	padding-left: 10px;
}

.centerrow{ overflow:hidden; width:104%;}
.centerthreecol,.centerfourcol,.centersixcol,
.centerfourcol-s,.centersixcol-s {
	margin:0 0 0 0;
	float: left;
	min-height: 1px;
	margin-bottom:30px !important;
}

.centerrow .centerthreecol {
	width: 21.7%;
	margin:1px 3% 1px 1px;
	height:362px !important;
	overflow:hidden;
}

.centerrow .centerfourcol {
	width: 30%;
	margin:1px 3% 1px 1px;
	height:365px !important;
	overflow:hidden;
}

/* @the 1200px grid
********************************************************************************************
********************************************************************************************/

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding:0;
	overflow:hidden;
	position:relative;
}


.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
	margin-left:0;
	float: left;
	min-height: 1px;
	overflow:hidden;
}

.fourcol {
	width: 31.4%;
	padding-right:0;
	padding-left:4%;
	float:left;
}



.eightcol {
	width: 64.6%;
	padding-right:0;
	padding-left:0;
	float:left;
}

.sixcol {
	width: 50%;
}

.twelvecol {
	width: 90%;
	float: left;
}



.first {
	margin-left: 0px;
}

object, embed {
	max-width: 100%;
}



img {
	height: auto;
}


/* Smaller screens */




@media screen and (max-width: 1000px){

	.container {
		width:auto;
		margin: 0 20px;
		padding:0 0;
	}

}


@media screen and (max-width: 970px){

	#clientsbox li{ width:239px;}

	#servicesbox li{ width:37.2%}

	.resmode-No{ display:none; visibility:hidden;}

	.section .container{padding:40px 0 !important;}

	#header a img.logo{margin:0 0 30px 0;}

	#nav,#main-nav{ float:left; width:100%}

	#nav li,#main-nav li{ float:left; margin-left:0; margin-bottom:10px;}

	.flexfull_wrap{ max-height: 580px !important}

}

/* Mobile */



@media handheld, only screen and (max-width: 740px) {

	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}

	body {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0;
		padding-right: 0;
		margin-top:0;
	}

	.flexfull_wrap,.flexfull,.slider_full{position:relative; height:auto !important; width:100%}

	.slider_full:after {
		display:none; visibility: hidden;
	}


	#header,
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol,
	#foliocontent,#foliosidebar
	{
		width: auto;
		float: none !important;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 0;
		margin-right: 0;
	}

	#header{
		padding:30px 0 25px 0;
		position: relative !important;
		top: auto;
		left: auto;
		margin:0;
		float:left;
	}

	.container_alt,
	.container_block{padding-top:40px !important; margin-bottom:0 !important;}

	ul.block{ margin-bottom:0;}

	#content,#sidebar{
		padding-left:0;
		padding-right:0;
		margin-top:40px;
	}


	.flexfull{ position:relative !important; top:0; margin:0 -5%; width:110%}
	.flexfull .stuff2,
	.flexfull .flex-direction-nav li{display:none; visibility:hidden;}
	.flex-control-nav { left:44%}

	#copyright{ padding:0 5%;}

	#servicesbox li{ width:37%; margin-right:0}

	.pagination{ margin-bottom:40px; height:35px;}

}


@media only screen and (max-width: 639px) {

	.scrollTo_top{ visibility:hidden; display:none}

	.tmnf-sc-quote.left,
	.tmnf-sc-quote.right{ width:100%; float:none; margin-left:0; margin-right:0}


	.contact-form .forms textarea,
	.contact-form .forms input.txt{ width:100%; float:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0}

	.contact-form .forms label{ margin-bottom:10px}

	.contact-form .forms .buttons .submit,
	.contact-form .forms input#sendCopy{ margin-left:0;}

	a.trigger,
	ul.block li.block7,
	a.hoverstuff-zoom{ display:none; visibility:hidden}



	.section>.container>h2{ font-size:30pt; letter-spacing:-2px;}

	.centerrow .centerthreecol,
	.centerrow .centerfourcol{ width:100%; margin:0 0 30px 0; height:auto;}

	#header a img.logo{ display:block; float:none; margin:0 auto 30px auto;}

	#nav>li,#main-nav>li{width:25%;}


	ul.block{ overflow:hidden; height:auto;}
	ul.block li{ position:relative !important; width:50%; height:100px; float:left; top:auto; left:auto;}
	ul.block li img{ width:130%; position:relative;}
	ul.block li .inside{ left:5px; bottom:0}
	ul.block li h2{ font-size:14pt;}

	li.pricing_three,
	li.pricing_four{ width:48%}

	#clientsbox li{ width:48%;}

	#clientsbox li img{ width: auto;}

	.section>.container>p {
		-moz-column-count: 1;
		-moz-column-gap:30px;
		-webkit-column-count: 1;
		-webkit-column-gap:30px;
		margin-bottom:25px;
		overflow:hidden;
	}

	iframe{width:100%; max-height:400px}

	ul.medpost>li>.meta,
	ul.medpost>li>.entry{ text-align:left; width:100%;}

	ul.medpost>li>.meta{height:20px; overflow:hidden;}

}

@media only screen and (max-width: 429px) {

	#nav>li,#main-nav>li{width:33%;}

	#servicesbox li{ width:76%; height:auto;}

	iframe{max-height:280px}

}



/*
Contact Form
*/

.wpcf7-textarea, .wpcf7-text {
	border: solid 1px #d3d3d3;
	background: #fff;
	width: 100%;
	width: 100%;
	margin: 4px 0 0 0;
}

.wpcf7-text {
	height: 25px;
}

.wpcf7-submit {
	background: $probyt-red;
	color: #fff;
	height: 28px;
	line-height: 22px;
	width: 70px;
	border: solid 1px #cdcdcd;
}