/******************************************************************
Site Name: Probyt
Author: Marc Illien

Editor Styles

******************************************************************/

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
@import "mixins";

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: #222;
	position: relative;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;


	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 1.5em;
	line-height: 1.333em;
	font-weight: normal;
	color: $probyt-red;
}

h2, .h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.333em;
	margin-bottom: 6px;
}

h3, .h3 {
	font-size: 1.2em;
	line-height: 1.333em;
	font-weight: bold;
}

h4, .h4 {
	font-size: 1em;
	line-height: 1.333em;
	font-weight: bold;
	margin: 0 0 5px 0;
}

h5, .h5 {
	font-size: 1.5em;
	line-height: 1.333em;
	font-weight: normal;
}

p, ul {
	font-size: 13px;
	margin: 0 0 1em 0;
}

ul li {
	list-style-type: disc;
	padding-left: 0px;
	margin-left: 25px;
}
