/******************************************************************
Site Name: Probyt
Author: Marc Illien

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylesheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html, body {
	height: 100%;
}

blockquote {
	border-left: 12px solid #D3D3D3;
	margin: 1em 12px;
	padding-left: 10px;
}

img {
	max-width: 100%;
	height: auto;
}

.lt-ie9 {

	.header-image {
		width: 100%;
	}

	img {
		max-width: inherit !important;
		width: inherit !important;
	}
}

.clear {
	clear: both;
}

ul {
	margin: 0 0 20px 0;
}

p,
pre {
	font-size: 13px;
	margin: 0 0 1em 0;
}

/* individual paged (i.e. body.paged-3) */

.wrap {
	min-height: 100%;
	position: relative;
}

#inner-content {
	padding: 0 10px;
}

.entry-content {
	background: #fff;
	padding: 10px;
	margin: 0 0 20px 0;
	@include simple;
	border: solid 1px #efefef;
	overflow: hidden;
}

.tbl_references {
	margin: -11px;

	td {
		border: solid 1px rgb(236, 236, 236);
		border-collapse: collapse;
		vertical-align: middle;
		padding: 15px 0;

		a {
			display: block;
			padding: 5px 0 10px 13px;
		}

		img {
			margin-bottom: 0 !important;
		}
	}
}

article.post-254 {
	padding: 0;
}

.enventa-module-list {

	height: 160px;
	width: 100%;
	display: table;

	li {
		list-style-type: none;
		background: 1px rgb(249, 249, 249);
		float: left;
		width: 100%;
		border: solid 1px rgb(240, 240, 240);
		min-height: 50px;
		margin: 0 0 10px -1px;
		padding: 10px;
		@include simple;

		&:hover, &:active {
			cursor: pointer;
			background: #e9e9e9;
		}

	}

	.module_more_info {
		font-size: 12px;
		color: #000;
	}

	a, a:visited, a:link {
		text-decoration: none;
		color: #333;
		font-size: 14px;
		display: block;
	}

	.mod_img {
		width: 20%;
		vertical-align: top;
		display: inline-block;
		margin: 0 10px 10px 0;
	}

	p {
		font-size: 12px;
		margin: 0 0 5px 0;
		color: #333;
	}

	.mod_add {
		border-top: 1px solid #CDCDCD;
		padding-top: 10px;
		vertical-align: middle;
	}

	.mod_title {
		width: 70%;
		display: inline-block;
		font-size: 16px;
		padding-bottom: 10px;
		line-height: 20px;
	}

	.mod_desc {
		font-size: 11px;
		line-height: 15px;
		display: block;
	}

	.mod_more {
		font-size: 12px;
		font-weight: bold;
	}

}

.mod_hightlights {
	@include simple;
	background: #eee;
	border: solid 1px #ddd;
	padding: 10px;
	color: #000;
	overflow: hidden;

	h2 {
		border-bottom: solid 1px #888;
		padding-bottom: 5px;
		margin: 0 0 10px 0;
		font-size: 1em;
	}
	ul {
		margin: 0 0 0 0;
		padding: 0;
	}
	li {
		list-style: disc;
		padding-left: 0;
		margin-left: 25px;
		line-height: 14px;
		margin-bottom: 15px;
	}
}

.mod_goback {
	margin: 20px 0 10px 0;
}

.mod_goback_link {

}

.post_image {
	float: left;
	width: 46px;
	margin: 0 20px 0 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.sidebar-enventa {
	@include simple;
	border: solid 1px #dedede;
}

#container {
	padding: 0 10px;
}

.sidebar {
	h3 {
		font-size: 1em;
		line-height: 1.333em;
		font-weight: normal;
		color: #555;
		padding-bottom: 5px;
		border-bottom: solid 1px #ccc;
	}
	.widget_recent_entries {
		li {
			margin: 0 0 5px 0;
		}
		a {
			font-size: 14px;
		}
	}
}

.bg-image {
	display: none;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {

	}
}

/*********************
HEADER SYTLES
*********************/

.bordertop {
	border: solid 1px red;
	background: $probyt-red;
	border-radius: 5px;
	margin-top: -15px;
	height: 25px;
}

#col-logo {
	min-width: 145px;
}

.header-image {
	position: relative;
	img {

		-moz-transition: opacity 1s; /* Firefox 4 */
		-webkit-transition: opacity 1s; /* Safari and Chrome */
		-o-transition: opacity 1s;
		transition: opacity 1s;

		@include simple;
		border: solid 1px #ccc;
	}
	.lt-ie9 & {
		img {
			max-width: none;
			width: 980px;
		}
	}
}

.header-slogan {
	text-shadow: #000 1px 1px 5px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: $white;
	letter-spacing: 1px;
}

#col-slogan {
	display: none;
}

.header {

	padding: 10px;

	#inner-header {

		.ninecol {
			float: left;
		}
		.threecol, .ninecol {
			display: inline-block;
		}

	}

	.col-address {
		text-align: right;
		float: right;
		display: block;
	}

	.address {

		strong {
			font-size: 14px;
		}

		font-size: 11px;
		line-height: 14px;
		display: inline-block;
		margin-left: 20px;
		.red {
			color: $probyt-red;
		}
	}
	#address-nr {
		display: none;
	}

	.site-slogan {
		color: $probyt-red;
		font-size: 17px;
		line-height: 20px;
	}

}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {

	@include css-gradient(#222, #333);
	@include simple;
	border-bottom: solid 5px $probyt-red;
	margin: 0;

	ul {
		margin: 0;
	}

	> li {

		margin: 0 0 2px 0;

		&.menu-item-585 {
			background: $probyt-red;
			float: right;

			a {
				font-weight: bold;
				&:hover {
					text-shadow: 1px 1px 3px #000;
				}
			}
		}

		&.current-menu-item {
			a {
				background: url(../images/bg_hover.png) center bottom no-repeat;
			}
		}

		a {
			text-shadow: 1px 1px 3px #333;
			display: block;
			text-decoration: none;
			padding: 8px 12px 4px;
			color: #fff;
			font-size: 12px;
			line-height: 23px;
			text-transform: uppercase;

			&:hover, &:focus {
				text-shadow: 3px;
				background: url(../images/bg_hover.png) center bottom no-repeat;
				color: $white;
			}

		}

		ul.sub-menu,
		ul.children {

			margin: 10px 0 0 0;

			li {

				a {
					color: #000;
				}

			}

		}
		/* end .menu li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current-page-ancestor {

			a {
				color: $probyt-red;
			}

		}
		/* end current highlighters */

	}

	.subnav-list {

		height: 40px;
		background: #e3e3e3;
		margin: 0;
		@include css-gradient(#fff, #f1f1f1);
		@include simple;

		> li {
			float: left;
			margin: 12px 20px 0 20px;

			a {
				display: block;
				font-size: 12px;
				text-decoration: none;
				color: $black;
				font-weight: bold;

				&:hover {
					text-decoration: underline;
				}

			}
		}

		.current_page_item {
			a {
				color: $probyt-red;
			}
		}

	}

	/* end .nav */

	/*********************
	POSTS & CONTENT STYLES
	*********************/

	video, object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

}

#content {
	padding-bottom: 60px;
	background: #f3f3f3;
	margin: 10px 0;
	border-radius: 5px;
	@include simple;
}

/* end .entry-content */

.wp-caption {
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

}

/* end .wp-caption */

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}

.bones_page_navi {

	li {
		float: left;
		margin-left: 10px;

		a {
			padding: 3px 6px;
			display: block;
			text-decoration: none;
			position: relative;

			&:hover,
			&:focus {
				color: $probyt-red;
				text-decoration: underline;
			}
		}

	}

	/* current page link */
	li.bpn-current {
		padding: 3px 6px;
		border-bottom: 2px solid #f01d4f;
		position: relative;
	}
	/* end .bones_page_navi .bpn-current */

	/* remove the bg on end links */
	li.bpn-prev-link a:hover,
	li.bpn-next-link a:hover,
	li.bpn-first-page-link a:hover,
	li.bpn-last-page-link a:hover {
		background: none;
	}

	/* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	}

	/* end .wp-prev-next */

	/******************************************************************
	COMMENT STYLES
	******************************************************************/

	.commentlist {

		li {
			position: relative;
			clear: both;
			overflow: hidden;
			list-style-type: none;
			margin-bottom: 1.5em;
			padding: 0.7335em 10px;

			&:last-child {
				margin-bottom: 0;
			}

			ul.children {
				margin: 0;
			}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	/* general comment classes */

	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}
	}
	/* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	}

}

/* comment form title */
#comment-form-title {
	margin: 0 0 1.1em;
}

/* allowed tags */
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
	margin: 0 20px 1.1em;
}

.logo-enventa {
	min-width: 230px;
}

.footer {
	bottom: 10px;
	clear: both;
	width: 100%;
}

.footer-content {
	@include simple;
	min-width: 320px;
	margin: 0 auto;
	@include css-gradient(#222, #333);
	padding: 10px 20px;
	color: #fff;

	p {
		margin: 0;
	}
}

.wpcf7-textarea, .wpcf7-text {
	border: solid 1px #d3d3d3;
	background: #fff;
	@include simple;
	width: 100%;
	margin: 4px 0 0 0;
}

.wpcf7-text {
	height: 25px;
}

.wpcf7-submit {
	background: $probyt-red;
	color: #fff;
	height: 28px;
	line-height: 22px;
	width: 70px;
	border: solid 1px #cdcdcd;
}