/*  
Theme Name: Marc Illien
Description: Marc Illien
Theme URI: http://www.illien.ch
Author: Marc Illien
Author URI: http://www.illien.ch
Version: 1.0
*/


/* @header
********************************************************************************************
********************************************************************************************/

.topnav {
	overflow: hidden;
}

#header {
	width: 100%;
	padding: 30px 0 25px 0;
	border-bottom: 1px solid #ddd;
	position: fixed !important;
	overflow: visible;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 99;
}

#header h1 {
	margin: 0;
	font-weight: 800;
}

#header h1 a {
	text-shadow: none;
}

#header a {
	overflow: hidden;
}

#header a img.logo {
	float: left;
	margin: 0;
}

#header-bottom {
	margin: 0;
	background: #fff;
}

/* @core
********************************************************************************************
********************************************************************************************/

.section {
	overflow: hidden;
	padding: 0 0;
	position: relative;
	z-index: 2;
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.section .container {
	overflow: hidden;
	padding: 130px 0;
}

.container_alt {
	padding-top: 135px !important;
	margin-bottom: 40px !important;
}

.container_block {
	padding-top: 135px !important;
	margin-bottom: -135px !important;
}

.section>iframe {
	float: left;
	margin: 0;
	padding: 0;
}

.section>.container>h2
.section>.container>h3 {
	width: 60%;
	float: none;
	margin: 0 auto;
	text-align: center;
}

.section>.container>h2 {
	padding: 0 0 0 1px;
	font-size: 60pt;
	font-weight: 900;
	letter-spacing: -4px;
	text-transform: uppercase;
	line-height: 1;
}

.section>.container>h3 {
	padding: 0 0 0 15px;
	margin: 5px 0 20px 0;
	border-left: 5px solid #ddd;
	font-weight: bold;
	opacity: 1;
	line-height: 1;
}

.section>.container>p {
	-moz-column-count: 3;
	-moz-column-gap: 30px;
	-webkit-column-count: 3;
	-webkit-column-gap: 30px;
	margin-bottom: 25px;
	overflow: hidden;
}

#content, #sidebar {
	margin-top: 135px;
	margin-bottom: 40px;
}

#foliocontent, #foliosidebar {
	margin-top: 40px;
}

#foliosidebar {
	width: 27%;
	float: left;
	margin-right: 4%;
}

#foliocontent {
	width: 69%;
	float: left;
}

/* @navigations - home
********************************************************************************************
********************************************************************************************/

#nav .current a {
	border-bottom: 3px solid #ddd;
}

#nav {
	display: inline-block;
	list-style: none;
	float: right;
}

#nav li {
	float: left;
	margin-left: 10px
}

#nav li a {
	display: block;
	font-weight:;
	padding: 0 10px;
	text-decoration: none;
	color: #666;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: none;
	border-bottom: 3px solid #ddd;
}

#nav li a:hover {
	color: #333;
}

#nav ul li.active a {
}

/* @navigations - uni
********************************************************************************************
********************************************************************************************/

.nav {
	display: inline-block;
	list-style: none;
	float: right;
}

.nav>li>a:hover {
	text-shadow: none;
}

.nav a {
	position: relative;
	color: #888888;
	display: block;
	z-index: 100;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: none;
}

.nav>li>a {
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	text-transform: uppercase;
	font-size: 10pt;
	opacity: .7;
	letter-spacing: -0.02em;
}

.nav a:hover {
	color: #2f2f2f;
}

.nav li {
	display: inline;
	position: relative;
	float: left;
	overflow: hidden;
}

.nav>li {
	margin: 0 0 0 20px;
}

.nav li ul {
	margin: 0 0 0 0;
	padding: 0 25px;
	width: 150px;
	position: absolute;
	z-index: 999;
	border-left: 5px solid #ddd;
}

.nav li ul .sf-sub-indicator {
	background: url(../images/arrow-superfish-right.png) no-repeat;
	top: 34%;
}

.nav li ul li a {
	padding: 10px 10px;
	width: 100%;
	margin: 0 auto;
	font-size: 8pt !important;
	border-top: 1px solid #eee;
}

.nav>li>ul>li {
	width: 100%;
}

.nav li ul li:first-child a {
	border-top: none;
}

.nav li ul li a:hover {
}

.nav li ul li a.sf-with-ul {
	padding-right: 0;
}

.nav li ul li.current_page_item a,
.nav li ul li.current_page_parent a,
.nav li ul li.current-menu-ancestor a,
.nav li ul li.current-cat a,
.nav li ul li.li.current-menu-item a,
.nav li ul li.sfHover a {
}

.current_page_ancestor ul li a {
}

.nav li ul ul {
	margin: -44px 0 0 195px;
}

.nav li a.sf-with-ul {
	padding-right: 15px;
}

.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.li.current-menu-item a,
.nav li.sfHover a {
}

.nav .sf-sub-indicator {
	background: url(images/arrow-superfish.png) no-repeat;
	position: absolute;
	display: block;
	right: 0;
	top: 32%;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	opacity: .7;
}

.nav li ul {
	position: absolute;
	left: -999em;
}

.nav li:hover, .nav li.hover {
	position: static;
}

.nav li:hover ul ul,
.nav li.sfhover ul ul,
.nav li:hover ul ul ul,
.nav li.sfhover ul ul ul,
.nav li:hover ul ul ul ul,
.nav li.sfhover ul ul ul ul {
	left: -999em;
}

.nav li:hover ul,
.nav li.sfhover ul,
.nav li li:hover ul,
.nav li li.sfhover ul,
.nav li li li:hover ul,
.nav li li li.sfhover ul,
.nav li li li li:hover ul,
.nav li li li li.sfhover ul {
	left: auto;
}

.nav li ul {
}

.nav li ul li a {
}

.nav li ul li a:hover {
}

#portfolio-filter {
	margin: 20px 0 25px 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	font-size: 12px;
	width: 100%;
}

#portfolio-filter ul {
	display: inline-block;
	list-style: none;
}

* html #portfolio-filter ul {
	/* Target IE6 */
	display: inline;
}

*+html #portfolio-filter ul {
	/* Target IE7 */
	display: inline;
}

#portfolio-filter li {
	margin: 0 20px 5px 0;
	line-height: 1.6;
	float: left;
}

#portfolio-filter a {
	text-decoration: none;
	padding: 0; /* variable width */
}

#portfolio-filter li:after {
	color: #CCCCCC;
	content: "/";
	margin-left: 5px;
}

#portfolio-filter li:first-child:after {
	margin-left: 5px;
}

/* @post styles
********************************************************************************************
********************************************************************************************/

.singlepost {
	background: #fff;
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

ul.medpost {
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0;
}

ul.medpost>li {
	margin-bottom: 40px !important;
	overflow: hidden;
}

ul.medpost>li>h2, h2.singletitle {
	font-weight: 900;
	text-transform: uppercase;
}

h2.singletitle {
	margin-top: 0;
}

ul.medpost>li>.meta,
ul.medpost>li>.meta_alt {
	width: 16%;
	margin: 23px 4% 0 0;
	line-height: 2.4;
	float: left;
	text-align: right;
	text-transform: uppercase;
	font-style: normal;
}

ul.medpost>li>.meta_alt {
	width: 100%;
	margin: 12px 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
	line-height: 1.4;
}

ul.medpost>li>.meta>span {
	text-transform: lowercase;
	font-style: italic;
}

ul.medpost>li>.entry {
	width: 80%;
	float: left;
}

ul.medpost li p {
	margin: 0 0 15px 0;
}

ul.medpost li a.mainbutton {
	margin: -5px 0 20px 0;
}

.entry {
	margin: 20px 0 20px 0;
	line-height: 2.4;
}

.entry>ul {
	margin: 0 0 25px 20px;
}

.entry>ul>li {
	list-style-position: inside;
	list-style: circle;
}

.entry .contact-form {
	overflow: hidden;
	float: none;
	clear: both;
	width: 95%;
	padding: 0 5% 30px 0;
}

.entry ol {
	margin: 0 0 25px 20px;
}

.entry ol li {
	list-style: decimal;
	list-style-position: inside;
}

.entry ol li ol li {
	list-style: upper-latin;
	list-style-position: inside;
}

.entry .meta {
	margin-top: 10px;
}

.entry_item {
	margin-top: 0;
}

.entry p a:hover {
	background: url(images/transparent-light.png);
}

.entry p {
	margin: 0 0 20px 0;
}

.entryfull {
	margin: 0 0 25px 0;
	overflow: hidden
}

.entryfull p {
	margin: 0 0 10px 0;
}

h2.single {
	padding: 0;
	margin: -5px 0 15px 0;
}

h2.singlefull {
	padding: 0;
	margin: -5px 0 15px 0;
}

img.main-single {
	float: left;
	margin: 0 0 20px 0;
}

img.attachment-format-image {
	float: left;
	overflow: hidden;
}

img.headimg {
	margin: 0 0 20px 0;
	float: left;
}

.post>iframe {
	margin: 0 0 25px 0;
}

.format-gallery h2 {
	margin-top: 25px
}

li.format-audio>iframe,
li.format-video>iframe {
	margin: 0 0 0 0;
}

li.format-link p.teaser {
	margin-top: 15px !important;
}

p.special {
	font-weight: 900 !important;
	font-size: 16px;
	margin: 15px 0 10px 0 !important;
	text-transform: uppercase;
}

.meta, .meta_alt, .widgetmeta {
	font-size: 10px !important;
	line-height: 1.2;
	padding: 0 0 0 0 !important;
	font-weight: bold;
	overflow: hidden;
	opacity: .7;
	word-spacing: 3px;
	font-family: Arial, Helvetica, sans-serif !important;
}

#foliosidebar .meta {
	line-height: 2.2;
	margin: 20px 0;
}

.buttons {
	overflow: hidden;
	padding: 0 0 0 0;
	margin: 15px 0;
}

.buttons iframe {
	overflow: hidden;
	margin: 0 0 0 0 !important
}

.buttons a {
	margin-top: -5px !important;
	float: left;
}

.postinfo {
	overflow: hidden;
	margin: 30px 0 -1px 0;
	padding: 8px 15px;
	border: 1px solid #ddd;
	font-size: 11px;
	font-style: italic;
}

.postinfo p {
	margin: 0 0 0 0;
}

.postauthor {
	overflow: hidden;
	margin: 0 0 20px 0;
	padding: 20px 25px 25px 25px;
	border: 1px solid #ddd;
}

.postauthor img {
	float: left;
	margin: 10px 25px 0 0;
}

.authordesc {
	margin-top: 10px;
}

.authorarchive {
	margin: 0 25px 40px 0;
}

.authorarchive img {
	float: left;
	margin: 8px 25px 10px 0;
}

ul.related {
	float: left;
	width: 105%;
	overflow: hidden;
	margin: 5px 0 20px 0;
}

.related li {
	position: relative;
	float: left;
	width: 46%;
	margin: 0 3.2% 25px 0;
	overflow: hidden;
	position: relative;
	height: 120px;
	padding: 0;
}

.related li h2 {
	font-size: 10.5pt;
	line-height: 14pt;
	margin: 0;
	padding: 0 10%;
	width: 80%;
	text-align: center;
	background: none;
	letter-spacing: 0;
	position: absolute;
	top: 30%;
	left: 0;
}

.related li a img {
	float: left;
	margin: 0 20px 0 0;
	position: relative;
	z-index: 1;
}

.related li .meta {
	margin: 0 !important;
	width: auto;
	float: left;
}

.archivecontent {
	padding: 5px 10% 0 6% !important;
	min-height: 340px;
}

.archivepost {
	margin: 20px 0 20px 0;
}

.archivepost li {
	padding: 0 0 0 0;
	overflow: hidden;
	position: relative;
	margin: 30px 0 0 0;
}

.archivepost li h3 {
	font-size: 13pt;
	margin: 20px 0 5px 0 !important;
	line-height: 1.4;
}

.archivepost img {
	float: left;
	margin: 0 20px 0px 0;
}

.archivepost .meta {
	margin: 0 0 5px 0;
	padding: 0;
	width: auto;
}

.archivepost p {
	font-size: 90%;
	line-height: 2
}

/* @formats 
********************************************************************************************
********************************************************************************************/

ul.medpost li.format-quote,
ul.medpost li.format-audio,
ul.medpost li.format-image {
	margin-bottom: 50px !important;
}

ul.medpost li.format-quote {
	text-shadow: none;
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	padding: 60px 55px 40px 55px;
	text-align: center;
	font-size: 16pt;
	line-height: 1.5;
}

p.quuote_author {
	font-size: 10pt
}

/* @comments 
********************************************************************************************
********************************************************************************************/

#comments {
	clear: both;
}

#comments .navigation {
	padding: 20px 0;
	clear: both;
	overflow: hidden;
}

h3#comments-title,
h3#reply-title {
	padding: 5px 0 20px 0;
	margin-bottom: 20px;
	background: url(images/line-h-l.png) bottom repeat-x;
}

.commentlist {
	list-style: none;
	margin: 0;
}

.commentlist li.comment {
	background: url(images/line-h-l.png) bottom repeat-x;
	line-height: 24px;
	margin: 0 0 25px 0;
	padding: 0 0 0 56px;
	position: relative;
}

ul.children li.comment:last-child {
	padding: 0 0 0 56px !important;
}

.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}

#comments .comment-body p:last-child {
	margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}

.commentlist ol {
	list-style: decimal;
}

.commentlist .avatar {
	position: absolute;
	top: 32px;
	left: 0;
}

.comment-author {
}

.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}

.comment-author .says {
	font-style: italic;
}

.comment-meta {
	margin: 0 0 20px 0;
}

.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}

.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}

.commentlist .even {
}

.commentlist .bypostauthor {
}

.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
	font-weight: bold;
}

.reply a,
a.comment-edit-link {
	color: #888;
}

.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}

.commentlist .children {
	list-style: none;
	margin: 0;
}

.commentlist .children li {
	list-style: none;
	border: none;
	margin: 0;
}

.nopassword,
.nocomments {
	display: none;
}

#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
	margin-top: -6px;
}

#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}

#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
}

#respond {
	margin: 0;
	overflow: hidden;
	position: relative;
}

#respond p {
	margin: 0;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
	width: 30.3%;
	float: left;
	margin-right: 25px !important;
}

.comment-form-url {
	margin-right: 0 !important;
}

input#author,
input#email,
input#url {
	width: 89% !important;
	margin-bottom: 20px !important;
}

#respond .comment-notes {
	margin-bottom: 1em;
	opacity: .7;
	font-size: 85%;
}

.form-allowed-tags {
	display: none;
}

.children #respond {
	margin: 0 48px 0 0;
}

#comments-list #respond {
	margin: 0;
}

#comments-list ul #respond {
	margin: 0;
}

#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin-left: 10px;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
	margin-left: 3px;
}

#respond label {
	color: #888;
	font-size: 12px;
}

#respond input {
	margin: 0;
	width: 96%;
}

#respond textarea {
	width: 95%;
}

#respond .form-allowed-tags {
	display: none;
}

#respond .form-allowed-tags code {
	display: none;
}

#respond .form-submit {
	margin: 12px 0;
}

#respond .form-submit input {
	font-size: 14px;
	width: auto;
	margin: 20px 1px 20px 1px;
}

/* @forms 
********************************************************************************************
********************************************************************************************/

input, textarea, input checkbox, input radio, select, file {
	border: 1px solid #eee;
	padding: 10px;
	margin: 0 10px 0 0;
	float: left;
	font-size: 10px !important;
}

form#contactform fieldset input {
	float: none;
	width: 320px;
	margin-top: 30px;
}

form#contactform fieldset textarea {
	margin-top: 30px;
	width: 430px;
	border: 1px solid #eee;
	background: #fff;
}

form#contactform fieldset input#submit {
	width: 150px;
	cursor: pointer;
}

label {
	float: left;
}

#contact {
	padding: 0 0 30px 0;
}

/* @search 
********************************************************************************************
********************************************************************************************/
.searchformhead {
	float: left;
	position: relative;
	margin: 10px 0 0 2px;
	width: 16%;
	width: 98%;
	overflow: hidden;
	border: 1px solid #ddd;
}

.searchform {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 0 25px;
}

.searchformhead input.s {
	float: right;
	margin: 0;
	color: #ddd;
	padding: 8px 12px;
	line-height: 1;
	float: left;
	font-style: bold !important;
	font-size: 12px !important;
	width: 95%;
	border: none;
}

.searchSubmit {
	background: url(images/icons/search-submit-inv.png) 2px 4px no-repeat;
	position: absolute;
	height: 24px;
	width: 24px;
	border: none;
	cursor: pointer;
	margin: 0;
	overflow: hidden;
	top: 5px;
	right: 1px;
}

.searchform input.s {
	padding: 12px 10px;
	margin: 0 0 30px 0;
	color: #999;
	font-style: normal;
	width: 92%;

	border: 1px solid #d9d9d9;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	-o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
}

.searchform .searchSubmit {
	height: 24px;
	top: 8px;
	right: 11px;
}

/* @sidebar 
********************************************************************************************
********************************************************************************************/

#sidebar p {
	margin: 0;
	padding: 0 0 15px 0;
}

#sidebar h3 {
	font-size: 10pt;
}

#sidebar a:hover {
	text-decoration: none;
}

#sidebar>ul,
#sidebar>div>ul {
	list-style: none;
	float: none;
	overflow: hidden;
	width: 100%;
	margin-bottom: 30px;
}

#sidebar select {
	margin: 5px 0 30px 0;
	width: 100%;
	font-size: 100% !important;
	clear: both;
	float: none;
}

#sidebar .searchform {
	margin: 0 0 10px 0;
	float: none;
	clear: both;
	overflow: hidden;
}

li.recentcomments,
cite {
	padding: 0 0 10px 0;
}

a.rsswidget {
	padding: 5px 0 0 0;
}

#sidebar>ul>li.cat-item {
	float: left;
	width: 49%;
	margin-right: 0.5%
}

/* @custom widgets 
********************************************************************************************
********************************************************************************************/

.tagcloud {
	margin-bottom: 30px;
}

ul.lists {
	list-style: none;
	overflow: hidden;
	margin: 0;
	width: 106%
}

#footer ul.lists {
	margin-top: 0;
}

ul.lists li ul, ul.lists li ul li {
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
	width: 100%;
	background: none;
}

.lists a {
}

.lists a:hover {
}

.lists li {
	background: url(images/bull.png) 0 4px no-repeat;
	padding: 0 10px 0 26px;
	margin: 0 3% 0 0;
	float: left;
	width: 31%;
	list-style: none;
}

ul.ad125 {
	padding: 0 0 0 0 !important;
	overflow: hidden;
	width: 105% !important;
	margin: 15px 0 5px 0 !important;
}

ul.ad125 li {
	float: left;
	margin: 0 25px 25px 0;
	padding: 0;
	overflow: hidden;
	background: none !important;
}

ul.ad125 li img {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden
}

img.ad300 {
	margin: 0 0 20px 0;
	background: url(images/transparent-light.png);
}

img.adFree {
	padding: 0;
	margin: 0 0 0 0;
	float: left;
	overflow: hidden
}

.ad125_fix {
	clear: both;
	margin: 0;
	height: 12px;
	overflow: hidden;
	float: left;
}

.widget_fix {
	clear: both;
	height: 1px;
	overflow: hidden;
	float: none
}

/* twitter  */
.lasttwit {
	padding: 0 !important;
	position: relative;
	margin: 0 0 25px 0;
	overflow: hidden;
}

.lasttwit h2 {
	border-top: none !important;
	padding-top: 0;
}

a.twilink {
	position: absolute;
	bottom: -25px;
	right: 0;
	font-weight: bold;
}

ul.tweet_list {
	margin: 0 0 10px 0 !important;
}

ul.tweet_list li {
	margin: 0 0 20px 0;
	padding: 0 0 0 65px !important;
}

ul.tweet_list li img {
	float: left;
	margin: 8px 0 10px -65px;
	padding: 0 !important;
}

.view-twitter {
	padding: 0;
	font-size: 7pt;
	clear: both;
}

.tweet_avatar {
}

/* flickr */
#sidebar h2 span.flickr, #footer h3 span.flickr, h2.widget span.flickr {
	color: #0061D8;
	font-style: normal;
}

#sidebar h2 span span, #footer h3 span span, #archives h2 span span, h2.widget span span {
	color: #FF1183;
	font-size: 12px;
}

.flickwrap {
	position: relative;
	padding: 0;
	overflow: hidden;
	width: 120%;
	margin: 0 0 10px 0;
}

.flickwrap img {
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	width: 62px;
}

.flickr_badge_image {
	float: left;
	margin: 0 15px 15px 0 !important;
	padding: 0 !important;
}

.flickwrap a:hover img {
	background: #ccc;
}

/* Blog Author Widget */
img.avatar {
}

span.left {
	float: left;
	margin: 8px 15px 5px 0;
}

span.right {
	float: right;
	margin: 8px 0 5px 15px;
}

/* featured */
ul.featured {
	margin: 0 0 30px 0 !important;
	overflow: hidden;
	float: left;
}

.fblock {
	border-top: 1px solid #ddd;
	margin: 0 0 0 0 !important;
	padding-top: 25px;
	padding-bottom: 20px;
	overflow: hidden;
}

.fblock:first-child {
	border-top: none;
	padding-top: 0;
}

.fblock img {
	margin: 0 0 10px 0;
	padding: 0;
	overflow: hidden;
	float: left;
}

.fblock h3 {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	background: url(images/line-h-l.png) bottom repeat-x !important;
}

.serchwidget {
	overflow: hidden;
	margin-bottom: 25px;
}

/* comments widget */

.com_post {
	overflow: hidden;
	padding: 15px 0 !important;
	background: url(images/line-h-l.png) top repeat-x;
}

.com_post:first-child {
	padding: 0 0 15px 0 !important;
	background: none;
}

.com_post img {
	float: left;
	margin: 8px 20px 5px 0;
}

.com_post span {
	float: left;
	margin-right: 7px;
	font-style: normal
}

.com_post p {
	padding: 0 0 0 55px !important;
}

/* social counter */

.social-item {
	float: left;
	width: 31%;
	overflow: hidden;
	height: 22px;
	margin: 0 5% 0 0;
	border-right: 1px solid #ddd;
}

.social-item a {
	float: left;
	width: 23px;
	height: 21px;
	overflow: hidden;
}

.social-item img {
	margin: -1px;
}

.social-count, .social-descrip {
	font-size: 10px;
	line-height: 10px;
	float: right;
	width: 65%;
}

/* folio widget */

ul.widget-folio {
	width: 110% !important;
	overflow: hidden;
}

ul.widget-folio li {
	overflow: hidden;
	float: left;
	margin: 0 25px 25px 0;
	padding: 0;
	background: url(images/icons/zoom.png) 50% 47% no-repeat;
	width: 76px;
	height: 68px
}

ul.widget-folio li img {
	width: auto;
}

/* @tabs
********************************************************************************************
********************************************************************************************/
#hometab {
	float: left;
	width: 100%;
	margin: 0 0 0 0;
	overflow: hidden;
	position: relative;
	border-top: 6px solid #ddd;
}

ul#serinfo-nav {
	position: relative;
	z-index: 6;
	margin: 0;
}

ul#serinfo-nav>li {
	padding: 5px 0 6px 0;
	font-size: 90%;
	float: left;
	margin-right: 0;
	width: 26.5%;
	text-align: center;
	text-shadow: none;
	cursor: pointer;
	background-image: none !important;
}

ul#serinfo-nav li a {
	color: #999;
}

ul#serinfo-nav li a:hover {
}

#serinfo-nav li.current {
	color: #000 !important;
	background: none !important;
	position: relative;
	z-index: 6;
	border-bottom: none;
	overflow: hidden;
}

#serinfo-nav li.current a {
	color: #000;
}

li#serpane0,
li#serpane1,
li#serpane2,
li#serpane4,
li#serpane5 {
	margin: 0 0 -16px 0;
	padding: 0;
}

li#serpane3 {
	padding: 30px 0 20px 0;
}

ul#serinfo {
	position: relative;
	z-index: 5;
	float: left;
	padding: 0 0 0 0;
	overflow: hidden;
	margin-top: -1px;
}

.tab-post {
	height: 60px;
	overflow: hidden;
	background: url(images/line-h-l.png) bottom repeat-x;
	margin: 0 0 0 0;
	padding: 15px 0;
}

.tab-post img {
	padding: 0;
	margin: 4px 12px 10px 0 !important;
	float: left;
}

.tab-post h3 {
	letter-spacing: 0;
	padding: 0;
	margin: 5px 0 5px 0 !important;
	font-weight: normal !important;
	line-height: 12pt;
	font-size: 10pt !important
}

.tab-post .meta {
	line-height: 1 !important;
}

#serinfo-nav li.current {
	background-color: #ddd !important
}

/* @list
********************************************************************************************
********************************************************************************************/

.postlist {
	border-top: 1px solid #ddd;
	margin: -1px 0 0 0;
	padding: 20px 0 0 0;
}

.list-post {
	height: 33px;
	overflow: hidden;
	background: url(images/line-h-l.png) top repeat-x;
	margin: 0 0 10px 0;
	padding: 14px 0 0 0;
	line-height: 1.4;
	font-size: 11px;
}

.list-post a {
	opacity: .9;
	overflow: hidden;
	font-weight: bold;
}

.list-post a:hover {
	opacity: 1;
}

.specfifthcol ul {
	width: 108%;
	overflow: hidden;
	margin: 0 0 25px 0;
}

.specfifthcol_last ul {
	overflow: hidden;
	margin: 0 0 25px 0;
}

.specfifthcol .list-post {
	width: 43.5%;
	float: left;
	margin-right: 6%
}

/* @footer
********************************************************************************************
********************************************************************************************/
#footer {
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 10px 0;
	overflow: hidden;
	position: relative;
	text-shadow: none;
	z-index: 3;
	background-image: url(images/line-h.png);
	background-position: top;
	background-repeat: repeat-x;
}

#copyright {
	font-size: 8pt;
	overflow: hidden;
	opacity: .7
}

#copyright p {
	margin: 0;
	padding: 0 0;
}

/* @clients
********************************************************************************************
********************************************************************************************/

#clientsbox {
	overflow: hidden;
	margin: 40px 0;
	padding: 1px 0 0 0;
}

#clientsbox li {
	overflow: hidden;
	float: left;
	border: 1px dashed #ddd;
	margin: -1px -1px 0 0;
	width: 24.89%;
	height: 200px;
}

#clientsbox li img {
	overflow: hidden;
}

/* @services
********************************************************************************************
********************************************************************************************/

#services-wrap {
	overflow: hidden;
	margin: 40px 0;
	padding: 0;
}

#servicesbox {
	width: 105%;
	overflow: hidden;
}

#servicesbox li {
	overflow: hidden;
	float: left;
	border-left: 5px solid #ddd;
	padding: 25px 30px 15px 30px;
	margin: 0 4% 35px 0;
	width: 39.2%;
	height: 140px;
	position: relative;
}

.services h3 {
	padding: 10px 0 8px 60px;
	margin: 0 0 10px 0;
	height: 24px;
	font-size: 14px;
	line-height: 14pt;
	font-weight: 700;
	position: relative;
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
	letter-spacing: -0.03em;
	transition: all 300ms linear;
}

.services h3 i {
	position: absolute;
	top: 0px;
	left: -3px;
	font-size: 30pt;
	font-weight: normal;
	transition: all 300ms linear;
}

.services h3 p {
	transition: all 300ms linear;
}

#servicesbox li {
	display: block;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}

#servicesbox li:last-child {
}

#servicesbox h3 i {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}

#servicesbox li h3 {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}

#servicesbox li p {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}

#servicesbox li:hover {
	background: #e1f0fa;
}

#servicesbox li:hover h3 i {
	font-size: 45px;
	color: #259add;
	opacity: 0.8;
	text-shadow: 0px 0px 13px #fff;
}

#servicesbox li h3 {
	opacity: 1;
	-webkit-animation: moveFromTop 300ms ease-in-out;
	-moz-animation: moveFromTop 300ms ease-in-out;
	-ms-animation: moveFromTop 300ms ease-in-out;
}

#servicesbox li p {
	opacity: 1;
	-webkit-animation: moveFromBottom 300ms ease-in-out;
	-moz-animation: moveFromBottom 300ms ease-in-out;
	-ms-animation: moveFromBottom 300ms ease-in-out;
}

/* @pricing tabs
********************************************************************************************
********************************************************************************************/

.pricing-wrap {
	overflow: hidden;
	width: 100%;
	margin: 20px 0 30px 0;
	float: left;
}

.pricing_main {
	overflow: hidden;
	float: none;
	margin: 0 0 0 0;
	width: 100.5%;
	padding: 7px 0;
	font-family: Arial, Helvetica, sans-serif !important;
}

li.pricing {
	padding: 0;
	margin: 20px 0 20px -1px;
	float: left;
	text-align: center !important;
	border: 1px solid #ddd;
	position: relative;
}

li.main {
	margin: 0 0 0 -1px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

li.pricing:first-child {
	margin-left: 0;
}

li.pricing ul li {
	padding: 8px 0;
	margin: 0 35px;
	border-top: 1px dotted #eee;
}

li.pricing ul li:first-child {
	border-top: none;
}

li.pricing h2 {
	background: #ddd;
	padding: 10px 0;
	margin: 0;
	font-size: 20px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

li.main h2 {
	background: #000;
	color: #fff;
	padding: 21px 1px;
	margin: -1px -1px 0 -1px;
	border-bottom: none;
}

li.main {
	border-color: #ccc;
}

.plan-head {
	background: #f9f9f9;
	padding: 20px 0 15px 0;
	border-bottom: 1px solid #eee;
}

.plan-price {
	font-size: 25pt;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 1;
}

.plan-bottom {
	background: #f9f9f9;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}

li.main .plan-bottom {
	padding: 35px 0;
}

.plan-bottom {
	background: #f9f9f9;
	padding: 25px 0;
	border-top: 1px solid #eee;
}

.plan-bottom a {
	font-weight: bold;
	padding: 8px 15px;
	background: #000;
	color: #fff !important;
	font-size: 14px;
	opacity: .9
}

li.main .plan-bottom a {
	padding: 13px 22px;
	opacity: 1
}

.plan-bottom a:hover,
li.main .plan-bottom a:hover {
}

li.pricing_three {
	width: 33%;
}

li.pricing_four {
	width: 24.7%;
}

/* @images
********************************************************************************************
********************************************************************************************/

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

img.alignright {
	margin: 4px 1px 10px 20px !important;
	display: inline;
	float: right;
}

img.alignleft {
	margin: 4px 20px 10px 1px !important;
	display: inline;
	float: left;
}

.alignright {
	float: right;
}

.alignleft {
	float: left
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.wp-caption {
	text-align: center;
	padding-top: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	padding: 0 5px 0 5px;
	margin: 5px 0 0 0;
}

img.wp-smiley {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}

.bags,
#map iframe,
.wp-caption {

	padding: 3px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

-o-linear-gradient
(
#2F2727, #1a82f7

)
;

background: 
	-moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll

0
0
transparent

;
background: -webkit-gradient(linear, left top, left bottom,
				from(#fff),

color-stop
(
0.5
,
#fff

)
,
to
(
#EFEFEF

)
)
;
filter: progid: DXImageTransform.Microsoft.

Gradient
(
StartColorStr

=
'#ffffffff'
,
EndColorStr

=
'#EFEFEFEF'
)
;
-ms-filter:

"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#EFEFEFEF)"
;
-o-linear-gradient
(
top, #dcdcdc, #c6c6c6

)
;

border:

1
px solid #FFFFFF

;

-moz-border-radius:

3
px

;
-khtml-border-radius:

3
px

;
-webkit-border-radius:

3
px

;
border-radius:

3
px

;
	}

/* @social
********************************************************************************************
********************************************************************************************/

ul#social-menu {
	display: inline;
	float: left;
	clear: both;
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 25px 0 8px 0;
	width: 108%;
}

.tickerwrap ul#social-menu {
	position: absolute;
	top: 16px;
	right: 5px;
}

ul#social-menu li {
	display: inline;
	list-style-type: none;
	position: relative;
	float: left;
	width: 110px;
	height: 20px;
	margin: 0 30px 15px 0;
	background-image: url(images/social-sprite.png);
	background-repeat: no-repeat;
	overflow: hidden;
	font-size: 10px;

	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, .3) inset;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, .3) inset;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .3) inset;
}

.tickerwrap ul#social-menu li {
	float: right;
	margin: 0 0 0 8px;
}

li.socials_fa {
	background-position: 0 -20px;
}

li.socials_fa:hover {
	background-position: 0 0;
}

li.socials_tw {
	background-position: 0 -60px;
}

li.socials_tw:hover {
	background-position: 0 -40px;
}

li.socials_yo {
	background-position: 0 -100px;
}

li.socials_yo:hover {
	background-position: 0 -80px;
}

li.socials_vi {
	background-position: 0 -140px;
}

li.socials_vi:hover {
	background-position: 0 -120px;
}

li.socials_tu {
	background-position: 0 -180px;
}

li.socials_tu:hover {
	background-position: 0 -160px;
}

li.socials_de {
	background-position: 0 -220px;
}

li.socials_de:hover {
	background-position: 0 -200px;
}

li.socials_fl {
	background-position: 0 -260px;
}

li.socials_fl:hover {
	background-position: 0 -240px;
}

li.socials_li {
	background-position: 0 -300px;
}

li.socials_li:hover {
	background-position: 0 -280px;
}

li.socials_la {
	background-position: 0 -340px;
}

li.socials_la:hover {
	background-position: 0 -320px;
}

li.socials_my {
	background-position: 0 -380px;
}

li.socials_my:hover {
	background-position: 0 -360px;
}

li.socials_po {
	background-position: 0 -420px;
}

li.socials_po:hover {
	background-position: 0 -400px;
}

li.socials_sp {
	background-position: 0 -460px;
}

li.socials_sp:hover {
	background-position: 0 -440px;
}

li.socials_sk {
	background-position: 0 -500px;
}

li.socials_sk:hover {
	background-position: 0 -480px;
}

li.socials_ya {
	background-position: 0 -540px;
}

li.socials_ya:hover {
	background-position: 0 -520px;
}

li.socials_dl {
	background-position: 0 -580px;
}

li.socials_dl:hover {
	background-position: 0 -560px;
}

ul#social-menu li a {
	float: left;
	height: 16px;
	padding: 4px 30px 3px 25px;
	line-height: 1.25;
}

ul#social-menu li {
	opacity: .6
}

ul#social-menu li:hover {
	opacity: .9
}

ul#social-menu li,
ul#social-menu li:hover {
	-moz-transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* @flex slider
********************************************************************************************
********************************************************************************************/

.flex-container a:active,
.flexslider a:active {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider {
	width: 100%;
	margin: 0;
	padding: 0;
}

.flexslider .slides > li {
	display: none;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	max-width: 100%;
	display: block;
	margin-bottom: 0
}

.flexslider .slides iframe {
	width: 100%;
	display: block;
	margin-bottom: 0
}

.flex-pauseplay span {
	text-transform: capitalize;
}

.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides {
	display: block;
}

* html .slides {
	height: 1%;
}

.no-js .slides > li:first-child {
	display: block;
}

.flexslider {
	position: relative;
	zoom: 1;
}

.flexslider .slides {
	zoom: 1;
}

.flexslider .slides > li {
	position: relative;
	overflow: hidden;
	margin: 0;
}

.flex-container {
	zoom: 1;
	position: relative;
}

.flex-direction-nav {
	height: 0;
}

.flex-direction-nav li a {
	width: 25px;
	height: 25px;
	margin: 0;
	display: block;
	position: absolute;
	top: -57px;
	cursor: pointer;
	opacity: .7 text-indent : - 9999 px;
}

.flex-direction-nav li .flex-next {
	right: 52px;
	background: url(images/icons/nav_right.png) no-repeat -3px -3px;
	text-indent: -9999em
}

.flex-direction-nav li .flex-prev {
	right: 72px;
	background: url(images/icons/nav_left.png) no-repeat -3px -3px;
	text-indent: -9999em
}

.flex-control-nav {
	position: absolute;
	top: 40px;
	left: 48%;
	z-index: 1;
}

.flex-control-nav li {
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-nav li:first-child {
	margin: 0;
}

.flex-control-nav li a {
	width: 16px;
	height: 20px;
	display: block;
	background: url(images/icons/bullets.png) no-repeat 0 0;
	cursor: pointer;
	text-indent: -9999px;
	opacity: .8
}

.flex-control-nav li a:hover {
	opacity: .7
}

.flex-control-nav li a.flex-active {
	background-position: 0 -18px;
	cursor: default;
	opacity: .9
}

/* custom skins - homepage */
.flexfull_wrap {
	height: 680px !important;
	width: 100%;
}

.flexfull {
	height: 680px !important;
	overflow: hidden;
	margin: 0;
	position: fixed;
	top: 85px;
	left: 0;
}

.flexfull .flex-direction-nav li a {
	width: 46px;
	height: 53px;
	margin: 0;
	display: block;
	z-index: 1;
	position: absolute;
	top: auto;
	top: 42%;
	cursor: pointer;
	opacity: .1 text-indent : - 9999 px;
}

.flexfull .flex-direction-nav li .flex-next {
	right: 0;
	background: url(images/icons/bg_arrows.png) no-repeat -45px 0;
	text-indent: -9999em
}

.flexfull .flex-direction-nav li .flex-prev {
	left: 0;
	background: url(images/icons/bg_arrows.png) no-repeat 0 0;
	text-indent: -9999em
}

.flexfull .flex-control-nav li a {
	background: url(images/icons/bullets-inv.png);
}

.flexfull .flex-control-nav li a.flex-active {
	background-position: 0 -18px;
}

.flexfull .inside {
	width: 100%;
	overflow: hidden;
	padding: 0 !important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.stuff {
	width: 960px;
	height: auto;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

.stuff h1 {
	padding: 30px 0;
	font-weight: 800;
	text-align: center;
}

.stuff2 {
	width: 680px;
	height: auto;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

.stuff2 h1 {
	margin-top: 170px;
	padding: 30px 0;
	text-align: center;
	font-size: 60pt;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -4px;
	line-height: .9;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.stuff2 p {
	text-align: center;
	font-size: 16pt;
	line-height: 1.4;
	font-weight: bold;
}

.stuff2 h1, .stuff2 h1 a, .stuff2 h1 a:hover, .stuff2 p {
	color: #fff !important;
	text-shadow: 1px 1px 0 #000;
}

.slider_full {
	width: 100%;
}

.slider_full:after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
	content: '';
	background: url(images/bg/pattern.png);
	-moz-box-shadow: 0px 0px 100px rgba(0, 0, 0, .8) inset;
	-webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, .8) inset;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, .8) inset;
}

.slider_full img {
	width: 100%;
}

/* custom skins - single/gallery */

.singleslider {
	max-height: 550px;
	margin: 0 0 0 0;
	position: relative;
}

.singleslider .flex-direction-nav li a {
	top: 28px;
	right: 30px;
	bottom: auto;
	text-indent: -9999px !important
}

.singleslider .flex-direction-nav li .flex-next {
	right: 25px;
	background: url(images/icons/nav_right_d.png) no-repeat 0 0;
}

.singleslider .flex-direction-nav li .flex-prev {
	right: 52px;
	background: url(images/icons/nav_left_d.png) no-repeat 0 0;
	text-indent: -9999em
}

.singleslider>ol.flex-control-nav {
	top: 30px;
	left: 30px;
}

/* @homefolio
********************************************************************************************
********************************************************************************************/

#folio-wrap {
	overflow: hidden;
}

.item_full {
	overflow: hidden;
	width: 75%;
	position: relative;
}

.imgwrap {
	position: relative;
	float: left;
	overflow: hidden;
}

.imgwrap a.hoverstuff-link,
.imgwrap a.hoverstuff-zoom {
	position: absolute;
	bottom: 1px;
	left: 1px;
	color: #fff !important;
	padding: 8px 13px;
	z-index: 9;
	opacity: 0;
	width: 18px;
}

.imgwrap a.hoverstuff-zoom {
	left: 46px;
}

.item_full h3 {
	margin: 20px 0 0 0;
	font-size: 16px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5em;
	height: 25px;
	overflow: hidden;
	padding: 0;
}

.item_full p {
	margin: 0 0 0 0;
	line-height: 2;
}

.item_full img {
	float: left;
}

.clearfix {
	height: 1%;
}

.imgback {
	float: left;
	overflow: hidden;
}

.imgback img {
	float: left;
	overflow: hidden;
}

img.attachment-folio_slider {
	width: 100%;
	float: left;
}

/* @homeblog
********************************************************************************************
********************************************************************************************/

ul.infolio li.item_blog {
	width: 66.666%;
	overflow: hidden;
	padding: 5px 0 0 0;
	margin: 0 0 20px 0;
}

.item_blog h2 {
	margin: 0 0 12px 0;
	font-size: 14px;
	line-height: 1.5em;
	overflow: hidden;
	padding: 0;
}

.item_blog .metaitem {
	margin-right: 3px;
}

/* @tooltips
********************************************************************************************
********************************************************************************************/

div.tooltip {
	display: none;
	position: absolute;
	text-align: center;
	line-height: normal;
	z-index: 100000;
	opacity: 1;
	filter: alpha(opacity=95);
	background: #222;
	color: #eee;
}

div.tooltip p {
	padding: 6px 6px 4px 6px;
	font-size: 10px !important;
	line-height: 1.4 !important;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-shadow: none;
	max-width: 150px;
	text-transform: capitalize;
}

/* @other
********************************************************************************************
********************************************************************************************/

.tagcloud {
	padding: 0 0 25px 0 !important;
	overflow: hidden;
}

.tagcloud a {
	float: left;
	font-size: 10px !important;
	padding: 0px 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 8px 8px 0;
}

#sidebar ul li.cat-item,
#sidebar ul li.page_item {
	padding: 0 0 5px 0;
	margin: 0 0 0 0;
	list-style: square;
	list-style-position: inside;
}

/* calendar widget */
.widget_calendar {
	float: left;
}

#wp-calendar {
	width: 100%;
	margin: 0 0 40px 0;
}

#wp-calendar caption {
	text-align: left;
	color: #333;
	font-size: 10px;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-bottom: 5px;
	background: url(images/line-h-l.png) bottom repeat-x;
}

#wp-calendar thead {
	font-size: 10px;
}

#wp-calendar thead th {
	padding-bottom: 10px;
}

#wp-calendar tbody {
	color: #aaa;
}

#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	text-align: center;
	padding: 0;
}

#wp-calendar tbody td:hover {
	background: #fff;
}

#wp-calendar tbody .pad {
	background: none;
}

#wp-calendar tfoot #next {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}

#wp-calendar tfoot #prev {
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 10px;
}

select#cat {
	float: none;
	margin: 0 0 25px 0;
}

.sticky {
}

#archives {
	padding: 20px 0 0 0;
}

h2.archives-small {
	font-size: 16pt;
	line-height: 22pt;
	/*background:url(images/divider15.png) bottom repeat-x;
	text-align:center;
	padding-bottom:12px;
	margin-bottom:10px;*/
}

::selection {
	background: #10AFCC;
	color: #fff;
}

::-moz-selection {
	background: #10AFCC;
	color: #fff;
}

.scrollTo_top {
	position: fixed;
	bottom: 50px;
	right: 30px;
	opacity: .4;
}

.scrollTo_top img {
	float: left;
}

.scrollTo_top a {
	float: left;
}

#navigation .scrollTo_top {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 9999;
	bottom: auto;
	right: auto;
	opacity: 1;
	padding: 0;
	margin: 0;
	border-bottom: none;
	width: 60px;
	overflow: hidden;
	height: 60px;
	text-align: center;
}

ul.error {
	margin-bottom: 25px;
}

ul.error>li {
	float: none !important;
	font-size: 90%;
	width: 100%;
}

/* @themebuttons & pagination
********************************************************************************************
********************************************************************************************/

a.more-link {
	display: none;
	visiblity: hidden;
}

a.read-more {
	display: block;
	visibility: visible;
}

a.mainbutton, #submit, #comments .navigation a, .tagssingle a, .contact-form .submit {
	margin: 4px;
	line-height: 1;
	font-size: 11px;
	padding: 7px 10px;
	color: #fff !important;
	background: #f5f5f5;
	border: none !important;
	text-shadow: none;
	font-family: Arial, Helvetica, sans-serif !important;

	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	cursor: pointer;
}

a.mainbutton:hover, #submit:hover, #comments .navigation a:hover, .tagssingle a:hover, .contact-form .submit:hover, .plan-bottom a:hover {
	color: #fff !important;
	background: #353535 !important;
}

.pagination {
	height: 27px;
	margin: 0 0 0 0;
	float: none;
	overflow: hidden;
}

a.page-numbers {
	font-size: 9pt;
	color: #3888ff;
	background: url(images/transparent-light.png);
	padding: 7px 10px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 8px -1px 0;
	text-shadow: none;
}

.page-numbers.current {
	font-weight: bold;
	padding: 7px 10px;
	margin: 0 8px -1px 0;
	background: url(images/transparent.png);
	text-shadow: none;
}

.page-numbers {
	font-size: 9pt;
	line-height: .8
}

.dots {
	letter-spacing: 1px;
	margin: 0 15px -1px 0;
}

.wp-pagenavi a,
.wp-pagenavi span {
	border: none !important;
	padding: 3px 10px 3px 0 !important;
	margin: 0 10px 0 0 !important;
}

.wp-pagenavi span.pages {
	display: none;
}

.postnav {
	margin: 10px 0;
}

span.ribbon {
	background: #900;
	z-index: 8;
	position: absolute;
	top: -100px;
	left: -100px;
	width: 140px;
	height: 140px;
	overflow: hidden;
	transform: rotate(-46deg);
	-ms-transform: rotate(-46deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-46deg);
	-o-transform: rotate(-46deg);
}

span.ribbon_icon {
	color: #fff;
	position: absolute;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1;
	top: 5px;
	left: 4px;
	width: 17px;
	height: 15px;
	overflow: hidden;
	z-index: 9;
}

.ribbon_icon i.icon-play-circle {
	padding-left: 0 !important;
}

/* @wp gallery 
********************************************************************************************
********************************************************************************************/

.attachment  .headimg {
	display: none;
	visibility: hidden;
}

.wp-smiley {
	margin: 0;
}

.gallery {
	margin: 0 auto 30px auto;
	width: 100%;
}

.gallery .gallery-item {
	float: left;
	margin: 0 1px 1px 0 !important;
	text-align: center;
	width: auto !important;
	height: auto;
	overflow: hidden;
	background: #000 url(images/icons/zoom.png) 50% 50% no-repeat !important;
}

.entryfull .gallery .gallery-item {
	max-width: 149px;
}

.gallery img {
	border: none !important;
	float: left;
}

.gallery a {
	overflow: hidden;
	float: left;
}

.gallery .gallery-caption {
	margin-left: 0;
}

.gallery dl {
	margin: 0;
}

.gallery-caption {
	color: #888;
	font-size: 12px;
	margin: -24px 0 24px 0;
}

.gallery br+br {
	display: none;
}

/* @mosaic section
********************************************************************************************
********************************************************************************************/

ul.block {
	width: 100.2%;
	max-width: 1081px;
	position: relative;
	overflow: hidden;
	height: 598px;
	margin: 0 0 40px 0
}

ul.block li {
	position: absolute;
	overflow: hidden;
	float: left;
	background: #999 url(images/bg/bg-dots2.png);
}

ul.block li .inside {
	position: absolute;
	left: 30px;
	bottom: 20px;
	z-index: 9;
	width: 75%;
	opacity: 0;
}

ul.block li h2 {
	border-top: 5px solid #fff;
	padding-top: 15px;
	color: #fff !important;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
}

ul.block li .meta {
	opacity: 1
}

ul.block li .meta,
ul.block li .meta a,
ul.block li h2 a {
	color: #fff !important;
	margin-bottom: 10px;
	text-shadow: 1px 1px 1px #000;
}

ul.block li h2 a {
	text-shadow: 1px 1px 0 #000;
}

ul.block li img {
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	opacity: .8
}

li.block3 img,
li.block5 img,
li.block7 img {
	right: -2px !important
}

li.block1 {
	width: 33.3333%;
	height: 200px;
	top: 0;
	left: 0;
}

li.block2 {
	width: 44.4444%;
	height: 400px;
	top: 0;
	left: 33.3333%;
}

li.block2 h2 {
	font-size: 32pt;
	line-height: 28pt;
}

li.block3 {
	width: 22.2222%;
	height: 200px;
	top: 0;
	left: 77.7777%;
}

li.block4 {
	width: 33.3333%;
	height: 400px;
	top: 200px;
	left: 0;
}

li.block5 {
	width: 22.2222%;
	height: 200px;
	top: 200px;
	left: 77.7777%;
}

li.block6 {
	width: 22.2222%;
	height: 200px;
	top: 400px;
	left: 33.3333%;
}

li.block7 {
	width: 44.4444%;
	height: 200px;
	top: 400px;
	left: 55.5555%;
}

ul.block li a.hoverstuff-link,
ul.block li a.hoverstuff-zoom {
	position: absolute;
	top: 1px;
	left: 1px;
	color: #fff !important;
	padding: 8px 13px;
	z-index: 9;
	opacity: 0;
	width: 18px;
}

ul.block li a.hoverstuff-zoom {
	left: 46px;
}

.block-wrap a.blogmore,
#folio-wrap a.blogmore {
	text-align: center;
	display: block;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif !important;
	color: #fff !important;
	font-size: 16px;
	background: #222;
	text-decoration: none;
	font-weight: 700;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin: 0 0 30px;
	padding: 15px 0;
}

/* @adipoli
********************************************************************************************
********************************************************************************************/

.adipoli-wrapper {
	margin: auto;
	position: relative;
	display: inline-block;
}

.adipoli-wrapper>img {
	position: absolute;
	z-index: 1;
}

.adipoli-before {
	position: absolute;
	z-index: 5;
}

.adipoli-after {
	position: absolute;
	z-index: 10;
}

.adipoli-slice {
	display: block;
	position: absolute;
	z-index: 15;
	height: 100%;
}

.adipoli-box {
	display: block;
	position: absolute;
	z-index: 15;
}


