/******************************************************************
Site Name: Probyt
Author: Marc Illien

Editor Styles

******************************************************************/
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BUTTONS
*********************/
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #a1040e;
  border-top-color: #bf0510;
  border-left-color: #bf0510;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #c90511;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e20613), to(#c90511));
  background-image: -webkit-linear-gradient(top, #e20613, #c90511);
  background-image: -moz-linear-gradient(top, #e20613, #c90511);
  background-image: -o-linear-gradient(top, #e20613, #c90511);
  background-image: linear-gradient(to bottom, #e20613, #c90511);
}
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #a1040e;
  border-top-color: #7f030b;
  border-left-color: #7f030b;
  background-color: #b0050f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c90511), to(#b0050f));
  background-image: -webkit-linear-gradient(top, #c90511, #b0050f);
  background-image: -moz-linear-gradient(top, #c90511, #b0050f);
  background-image: -o-linear-gradient(top, #c90511, #b0050f);
  background-image: linear-gradient(to bottom, #c90511, #b0050f);
}
.button:active, .button:visited:active {
  background-color: #e20613;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c90511), to(#e20613));
  background-image: -webkit-linear-gradient(top, #c90511, #e20613);
  background-image: -moz-linear-gradient(top, #c90511, #e20613);
  background-image: -o-linear-gradient(top, #c90511, #e20613);
  background-image: linear-gradient(to bottom, #c90511, #e20613);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #222;
  position: relative;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 500;
  /* removing text decoration from all headline links */
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

h1, .h1 {
  font-size: 1.5em;
  line-height: 1.333em;
  font-weight: normal;
  color: #e20613;
}

h2, .h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.333em;
  margin-bottom: 6px;
}

h3, .h3 {
  font-size: 1.2em;
  line-height: 1.333em;
  font-weight: bold;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.333em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

h5, .h5 {
  font-size: 1.5em;
  line-height: 1.333em;
  font-weight: normal;
}

p, ul {
  font-size: 13px;
  margin: 0 0 1em 0;
}

ul li {
  list-style-type: disc;
  padding-left: 0px;
  margin-left: 25px;
}
