/******************************************************************
Site Name: Probyt
Author: Marc Illien

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

b, strong, .strong {
  font-weight: bold;
}

dfn, em, .em {
  font-style: italic;
}

small, .small {
  font-size: 75%;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

dd {
  margin: 0;
}

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BUTTONS
*********************/
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #a1040e;
  border-top-color: #bf0510;
  border-left-color: #bf0510;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #c90511;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e20613), to(#c90511));
  background-image: -webkit-linear-gradient(top, #e20613, #c90511);
  background-image: -moz-linear-gradient(top, #e20613, #c90511);
  background-image: -o-linear-gradient(top, #e20613, #c90511);
  background-image: linear-gradient(to bottom, #e20613, #c90511);
}
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #a1040e;
  border-top-color: #7f030b;
  border-left-color: #7f030b;
  background-color: #b0050f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c90511), to(#b0050f));
  background-image: -webkit-linear-gradient(top, #c90511, #b0050f);
  background-image: -moz-linear-gradient(top, #c90511, #b0050f);
  background-image: -o-linear-gradient(top, #c90511, #b0050f);
  background-image: linear-gradient(to bottom, #c90511, #b0050f);
}
.button:active, .button:visited:active {
  background-color: #e20613;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c90511), to(#e20613));
  background-image: -webkit-linear-gradient(top, #c90511, #e20613);
  background-image: -moz-linear-gradient(top, #c90511, #e20613);
  background-image: -o-linear-gradient(top, #c90511, #e20613);
  background-image: linear-gradient(to bottom, #c90511, #e20613);
}

/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name: Probyt
Author: Marc Illien

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylesheet
and will be used across all viewports.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html, body {
  height: 100%;
}

blockquote {
  border-left: 12px solid lightgrey;
  margin: 1em 12px;
  padding-left: 10px;
}

.centerrow {
  overflow: hidden;
  width: 104%;
}

.centerthreecol, .centerfourcol, .centersixcol,
.centerfourcol-s, .centersixcol-s {
  margin: 0 0 0 0;
  float: left;
  min-height: 1px;
  margin-bottom: 30px !important;
}

.centerrow .centerthreecol {
  width: 21.7%;
  margin: 1px 3% 1px 1px;
  height: 362px !important;
  overflow: hidden;
}

.centerrow .centerfourcol {
  width: 30%;
  margin: 1px 3% 1px 1px;
  height: 365px !important;
  overflow: hidden;
}

/* @the 1200px grid
********************************************************************************************
********************************************************************************************/
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-left: 0;
  float: left;
  min-height: 1px;
  overflow: hidden;
}

.fourcol {
  width: 31.4%;
  padding-right: 0;
  padding-left: 4%;
  float: left;
}

.eightcol {
  width: 64.6%;
  padding-right: 0;
  padding-left: 0;
  float: left;
}

.sixcol {
  width: 50%;
}

.twelvecol {
  width: 90%;
  float: left;
}

.first {
  margin-left: 0px;
}

object, embed {
  max-width: 100%;
}

img {
  height: auto;
}

/* Smaller screens */
@media screen and (max-width: 1000px) {
  .container {
    width: auto;
    margin: 0 20px;
    padding: 0 0;
  }
}
@media screen and (max-width: 970px) {
  #clientsbox li {
    width: 239px;
  }

  #servicesbox li {
    width: 37.2%;
  }

  .resmode-No {
    display: none;
    visibility: hidden;
  }

  .section .container {
    padding: 40px 0 !important;
  }

  #header a img.logo {
    margin: 0 0 30px 0;
  }

  #nav, #main-nav {
    float: left;
    width: 100%;
  }

  #nav li, #main-nav li {
    float: left;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .flexfull_wrap {
    max-height: 580px !important;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 740px) {
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }

  body {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }

  .flexfull_wrap, .flexfull, .slider_full {
    position: relative;
    height: auto !important;
    width: 100%;
  }

  .slider_full:after {
    display: none;
    visibility: hidden;
  }

  #header,
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .fifthcol,
  #foliocontent, #foliosidebar {
    width: auto;
    float: none !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  #header {
    padding: 30px 0 25px 0;
    position: relative !important;
    top: auto;
    left: auto;
    margin: 0;
    float: left;
  }

  .container_alt,
  .container_block {
    padding-top: 40px !important;
    margin-bottom: 0 !important;
  }

  ul.block {
    margin-bottom: 0;
  }

  #content, #sidebar {
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
  }

  .flexfull {
    position: relative !important;
    top: 0;
    margin: 0 -5%;
    width: 110%;
  }

  .flexfull .stuff2,
  .flexfull .flex-direction-nav li {
    display: none;
    visibility: hidden;
  }

  .flex-control-nav {
    left: 44%;
  }

  #copyright {
    padding: 0 5%;
  }

  #servicesbox li {
    width: 37%;
    margin-right: 0;
  }

  .pagination {
    margin-bottom: 40px;
    height: 35px;
  }
}
@media only screen and (max-width: 639px) {
  .scrollTo_top {
    visibility: hidden;
    display: none;
  }

  .tmnf-sc-quote.left,
  .tmnf-sc-quote.right {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .contact-form .forms textarea,
  .contact-form .forms input.txt {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .contact-form .forms label {
    margin-bottom: 10px;
  }

  .contact-form .forms .buttons .submit,
  .contact-form .forms input#sendCopy {
    margin-left: 0;
  }

  a.trigger,
  ul.block li.block7,
  a.hoverstuff-zoom {
    display: none;
    visibility: hidden;
  }

  .section > .container > h2 {
    font-size: 30pt;
    letter-spacing: -2px;
  }

  .centerrow .centerthreecol,
  .centerrow .centerfourcol {
    width: 100%;
    margin: 0 0 30px 0;
    height: auto;
  }

  #header a img.logo {
    display: block;
    float: none;
    margin: 0 auto 30px auto;
  }

  #nav > li, #main-nav > li {
    width: 25%;
  }

  ul.block {
    overflow: hidden;
    height: auto;
  }

  ul.block li {
    position: relative !important;
    width: 50%;
    height: 100px;
    float: left;
    top: auto;
    left: auto;
  }

  ul.block li img {
    width: 130%;
    position: relative;
  }

  ul.block li .inside {
    left: 5px;
    bottom: 0;
  }

  ul.block li h2 {
    font-size: 14pt;
  }

  li.pricing_three,
  li.pricing_four {
    width: 48%;
  }

  #clientsbox li {
    width: 48%;
  }

  #clientsbox li img {
    width: auto;
  }

  .section > .container > p {
    -moz-column-count: 1;
    -moz-column-gap: 30px;
    -webkit-column-count: 1;
    -webkit-column-gap: 30px;
    margin-bottom: 25px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    max-height: 400px;
  }

  ul.medpost > li > .meta,
  ul.medpost > li > .entry {
    text-align: left;
    width: 100%;
  }

  ul.medpost > li > .meta {
    height: 20px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 429px) {
  #nav > li, #main-nav > li {
    width: 33%;
  }

  #servicesbox li {
    width: 76%;
    height: auto;
  }

  iframe {
    max-height: 280px;
  }
}
/*
Contact Form
*/
.wpcf7-textarea, .wpcf7-text {
  border: solid 1px lightgrey;
  background: #fff;
  width: 100%;
  width: 100%;
  margin: 4px 0 0 0;
}

.wpcf7-text {
  height: 25px;
}

.wpcf7-submit {
  background: #e20613;
  color: #fff;
  height: 28px;
  line-height: 22px;
  width: 70px;
  border: solid 1px #cdcdcd;
}

/******************************************************************
Site Name: Probyt
Author: Marc Illien

Editor Styles

******************************************************************/
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BUTTONS
*********************/
.button, .button:visited {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #a1040e;
  border-top-color: #bf0510;
  border-left-color: #bf0510;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #c90511;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e20613), to(#c90511));
  background-image: -webkit-linear-gradient(top, #e20613, #c90511);
  background-image: -moz-linear-gradient(top, #e20613, #c90511);
  background-image: -o-linear-gradient(top, #e20613, #c90511);
  background-image: linear-gradient(to bottom, #e20613, #c90511);
}
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #a1040e;
  border-top-color: #7f030b;
  border-left-color: #7f030b;
  background-color: #b0050f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c90511), to(#b0050f));
  background-image: -webkit-linear-gradient(top, #c90511, #b0050f);
  background-image: -moz-linear-gradient(top, #c90511, #b0050f);
  background-image: -o-linear-gradient(top, #c90511, #b0050f);
  background-image: linear-gradient(to bottom, #c90511, #b0050f);
}
.button:active, .button:visited:active {
  background-color: #e20613;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c90511), to(#e20613));
  background-image: -webkit-linear-gradient(top, #c90511, #e20613);
  background-image: -moz-linear-gradient(top, #c90511, #e20613);
  background-image: -o-linear-gradient(top, #c90511, #e20613);
  background-image: linear-gradient(to bottom, #c90511, #e20613);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #222;
  position: relative;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 500;
  /* removing text decoration from all headline links */
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

h1, .h1 {
  font-size: 1.5em;
  line-height: 1.333em;
  font-weight: normal;
  color: #e20613;
}

h2, .h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.333em;
  margin-bottom: 6px;
}

h3, .h3 {
  font-size: 1.2em;
  line-height: 1.333em;
  font-weight: bold;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.333em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

h5, .h5 {
  font-size: 1.5em;
  line-height: 1.333em;
  font-weight: normal;
}

p, ul {
  font-size: 13px;
  margin: 0 0 1em 0;
}

ul li {
  list-style-type: disc;
  padding-left: 0px;
  margin-left: 25px;
}

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media screen and (min-width: 481px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Grid Stylesheet
  
  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.scss stylesheet.
  
  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:
  
  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://susy.oddbird.net/ - Grids using Compass. Very elegant.
  http://gridpak.com/ - Create your own responsive grid.
  
  The grid below is a combination of the 1140 grid and Twitter Boostrap. 
  I liked 1140 but Boostrap's grid was way more detailed so I merged them 
  together, let's see how this works out. If you want to use 1140, the original 
  values are commented out on each line.
  
  ******************************************************************/
  .onecol {
    width: 5.801104972%;
  }

  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }

  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }

  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }

  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }

  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }

  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }

  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }

  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }

  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }

  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }

  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }

  /* 100%;   } /* grid_12 */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }

  .first {
    margin-left: 0;
  }

  .last {
    float: right;
  }

  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  ******************************************************************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  #telm {
    display: none;
  }

  #container {
    max-width: 980px;
    margin: 0 auto;
  }

  .sidebar {
    margin: 65px 0 0 0;
  }

  .wrap {
    max-width: none;
  }

  .inner-content {
    padding: 0 20px;
  }

  #inner-header {
    overflow: hidden;
  }

  /*********************
  HEADER SYTLES
  *********************/
  .header #col-slogan {
    display: block;
    margin-left: 0;
    padding-left: 15px;
  }
  .header .address {
    display: block;
    font-size: 11px;
    line-height: 15px;
    margin-left: 10px;
    margin: 0;
    width: 100%;
  }
  .header .address .red {
    color: #e20613;
  }
  .header #address-nr {
    display: inline-block;
  }
  .header .site-slogan {
    display: table-cell;
    font-size: 22px;
    height: 76px;
    line-height: 1.1em;
    vertical-align: bottom;
  }

  .bg-image {
    display: block;
  }

  .header-image {
    margin: 0 0 10px 0;
  }

  /*********************
  NAVIGATION STYLES
  *********************/
  .nav {
    position: relative;
  }
  .nav > li {
    margin: 0;
    display: inline-block;
    float: left;
  }
  .nav > li a {
    font-size: 12px;
    padding: 5px 9px;
  }
  .nav .sub-menu {
    height: 40px;
    background: #e3e3e3;
    margin: 0;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, white, #f1f1f1);
    background-image: -moz-linear-gradient(top, white, #f1f1f1);
    background-image: -o-linear-gradient(top, white, #f1f1f1);
    background-image: linear-gradient(to bottom, #ffffff, #f1f1f1);
    position: absolute;
    left: 0;
    width: 100%;
  }
  .nav .sub-menu > li {
    float: left;
    display: inline-block;
  }

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    min-height: 200px;
    /* at this larger size, we can start to align images */
  }
  .entry-content .alignleft, .entry-content img.alignleft {
    padding-top: 5px;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright, .entry-content img.alignright {
    padding-top: 5px;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  .sidebar .widget_recent_entries li {
    margin: 0 0 5px 20px;
  }

  .post_image {
    float: left;
    width: 45px;
    margin: 0 15px 0 0;
  }

  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  .enventa-module-list {
    margin-left: -10px;
  }
  .enventa-module-list li {
    min-height: 145px;
    margin: 0 0 10px 10px;
  }

  .mod_hightlights li {
    float: left;
    width: 40%;
    word-wrap: break-word;
  }

  .sidebar-enventa {
    margin-top: 64px;
  }
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /*********************
  HEADER SYTLES
  *********************/
  #main {
    min-width: inherit;
  }

  /*********************
  NAVIGATION STYLES
  *********************/
  /* end .nav */
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .enventa-module-list li {
    width: 47%;
    min-width: 205px;
  }

  .nav > li a {
    font-size: 12px;
    padding: 6px 12px;
  }
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
